<div class="container">
  <app-file-uploader *ngIf="!file" [formControl]="fileInput"></app-file-uploader>
  <div class="add-section__title" *ngIf="file">
    Your file:
  </div>
  <div class="add-section__list" *ngIf="file">
    <div class="add-section__list-item">
      {{ file?.name }}
      <div class="results__list-remove" (click)="deleteFile()">
      </div>
    </div>
    <audio controls [src]="fileLink"></audio>
  </div>
  <div class="results">
    <p class="results__title">Results</p>
    <div class="results__list">
      <ng-container *ngFor="let item of results">
        <div class="results__list_item">
          <p class="results__list_title">File name: {{ item.name }}</p>
          <p class="results__list_probability">Probability: {{ item.probability }}</p>
          <audio controls [src]="item.link"></audio>
        </div>
      </ng-container>
    </div>
  </div>
</div>
