.file-upload {
  display: flex;
  justify-content: center;
}

.add-section__area-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.add-section__area {
  width: 70%;
  height: 60px;
  background: inherit;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  color: #BDBDBD;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 20px;
  position: relative;

  &:hover {
    color: #EEEEEE;
    border: 2px solid #EEEEEE;
  }
}